.fourthpage {
  height: 100vh;
  width: 100vw;

  background-image: url('/2025CapstoneWeb/page4/BackGround4.png'); /* ✅ 수정 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

/* 시놉시스 텍스트 이미지 위치 조정 */
.synopsis-title {
  position: absolute;
  top: 150px;
  right: 80px;
  width: 350px;
  height: auto;
}

.synopsis-description {
  position: absolute;
  top: 320px;
  right: 70px;
  width: 600px;
  height: auto;
}
