.secondpage {
  height: 100vh;
  width: 100vw;

  background-image: url('/2025CapstoneWeb/page2/BackGround2.png'); /* ✅ 수정됨 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.instruction-row {
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

.intro-image {
  width: 450px;
  height: auto;
}

.stand-image {
  width: 300px;
  height: auto;
}
