.secondpage {
  height: 100vh;
  width: 100vw;

  background-image: url('/page2/BackGround2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.instruction-row {
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

.intro-image {
  width: 450px; /* 왼쪽 이미지 더 큼 */
  height: auto;
}

.stand-image {
  width: 300px; /* 오른쪽 이미지 작게 */
  height: auto;
}
