.second-banner {
  width: 100vw;
  aspect-ratio: 1920 / 350;
  background-image: url('/2025CapstoneWeb/banner2/Banner2.png'); /* ✅ 수정 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.go-title-button {
  width: 120px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.go-title-button:hover {
  transform: scale(1.05);
}
